<div class="container">
  
  <div class="changepassword">
    <h2> Change  Password </h2>
    <form action="">
                        <!-- Old Password -->
    <div class="col-md-3"> <label>Old Password</label></div>
    <div class="col-md-9">
      <input type="password" class="form-control" name="oldpassword" id="oldpassword" 
      placeholder="Old Password" [(ngModel)]="userpassword.oldpassword" >
    </div>
                    <!-- New Password -->
    <div class="col-md-3"> <label>New Password</label></div>
    <div class="col-md-9">
      <input type="password" class="form-control" name="newpassword" id="newpassword" 
      placeholder="New Password" [(ngModel)]="userpassword.newpassword">
    </div>
                    <!-- Confirm Password -->
    <div class="col-md-3"> <label>Confirm Password</label></div>
    <div class="col-md-9">
      <input type="password" class="form-control" name=" confirmpassword" id="confirmpassword" 
      placeholder="Confirm Password" [(ngModel)]="userpassword.confirmpassword" >
    </div>
                    <!-- Change Password -->
    <div>
        <div class="col-md-3"><label>  </label></div>
        <div class="col-md-9">
            <!-- <a routerLink="/changemypassword" class="btn btn-success"  > Change my Passwword </a> -->
            <a (click)="changemypassword()" class="btn btn-success" >Change my Passwword</a>

        </div>
      </div>
  </form>
  </div>
  
</div>