<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <h1> Logo </h1>
        

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="TrainingInstitute">
          <h1> TrainingInstitute </h1>
          

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="main">
          <ul class="nav nav-pills">
              <li> <a routerLink="login" > Login </a></li>
              <li> <a routerLink="register" > Register </a></li>
          </ul>
    
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mypage">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</div>