.logo{
    height: 100px;
    background-color: antiquewhite;
    text-align: center;
}
.TrainingInstitute{

    height: 80px;
    background-color: aquamarine;
    text-align: center;
}
.main{
    height: 40px;
    background-color: lightblue;
}
.mypage{
    height: 400px;
    background-color: lightgoldenrodyellow;
}
